@model LinkaBlog.Controllers.DisplayViewModel
@{ }

@*<div>
    <h2>Create User</h2>
    <div>
        <form asp-controller="Roles" asp-action="CreateUser" method="post">
            <label>User Email</label>
            <input name="email" value="" />
            <input type="submit" value="Create User" />
        </form>
    </div>
</div>
<div>
    <div>
        <h2>Role List</h2>
        <ul>
            @foreach (var role in Model.Roles)
            {
                <li>
                    @role
                </li>
            }
        </ul>
    </div>
   
</div>*@




<div class="user-area-all-style log-in-area ptb-100">
    <div class="container">
        <div class="contact-form-action">
            <h2>Create User</h2>
            <partial name="_CreateRole" model="new LinkaBlog.Controllers.RoleViewModel()">
                <form method="post" asp-controller="Roles" asp-action="CreateUser">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>User Email</label>
                                <input name="email" value="" />
                                <input type="submit" value="Create User" />
                            </div>
                        </div>
                        <div>
                            <h2>Role List</h2>
                            <ul>
                                @foreach (var role in Model.Roles)
                                {
                                    <li>
                                        @role
                                    </li>
                                }
                            </ul>
                        </div>


                    </div>
                </form>

                <div>

                    <partial name="_AddUserToRole" model="new LinkaBlog.Controllers.UpdateUserRoleViewModel() { Users = Model.Users, Roles = Model.Roles }">
                </div>
        </div>
    </div>
</div>
<!-- End Log In Area -->
